<header class="topbar">
  <div class="title">
    <h1>EComm Intelligence Engine</h1>
  </div>

  <div class="actions">
    <button class="btn btn-default position-relative me-3" aria-label="Notifications">
        <i class="bi bi-bell fs-5"></i>
      <!-- <mat-icon>notifications</mat-icon> -->
    </button>
    <button class="btn btn-default position-relative me-3" aria-label="Profile">
        <i class="bi bi-person fs-5"></i>
      <!-- <mat-icon>account_circle</mat-icon> -->
    </button>
  </div>
</header>